# extends javascript_jest
# extends javascript_react
#
# snippet c "console.log"
# console.log('${1:message}', $1);
# endsnippet
#
# snippet fun "function (named)" b
# function ${1:functionName}(${2:argument}) {
# 	${VISUAL}$0
# }
# endsnippet
